<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WEbsocket chat</title>
</head>
<body>
    <h1>Welcome to Leo's websocket chat</h1>
    <section>
        <section><ul id="messages"></ul>
        <label>Name: </label><input id="user-name">
        <label>Message: </label><textarea id="msg"></textarea><br><br>
        <input type="button" id="button" value=" Send Message ">
        <script src="/socket.io/socket.io.js"></script>
    </section>
    <footer>CopyRight@2020</footer>
</body>
</html>
                        <!-- <script>
                        var socket = io.connect('http://localhost');
                        socket.on('news', function (data) {
                            console.log(data);
                            socket.emit('my other event', { my: 'data' });
                        });
                        </script> -->